<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzg.file.dao.ChunkMapper">
  <resultMap id="BaseResultMap" type="com.zzg.file.domain.Chunk">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CHUNK_NUMBER" jdbcType="INTEGER" property="chunkNumber" />
    <result column="CHUNK_SIZE" jdbcType="DECIMAL" property="chunkSize" />
    <result column="CURRENT_CHUNK_SIZE" jdbcType="DECIMAL" property="currentChunkSize" />
    <result column="TOTAL_SIZE" jdbcType="DECIMAL" property="totalSize" />
    <result column="IDENTIFIER" jdbcType="VARCHAR" property="identifier" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="filename" />
    <result column="RELATOVE_PATH" jdbcType="VARCHAR" property="relativePath" />
    <result column="TOTAL_CHUNKS" jdbcType="INTEGER" property="totalChunks" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
  </resultMap>
  
   <select id="findChunkDomain" resultMap="BaseResultMap" parameterType="com.zzg.file.domain.Chunk">
   		select u.ID, u.CHUNK_NUMBER, u.CHUNK_SIZE, u.CURRENT_CHUNK_SIZE, u.TOTAL_SIZE, u.IDENTIFIER, u.FILE_NAME, u.RELATOVE_PATH, u.TOTAL_CHUNKS, u.TYPE  from t_chunk u
   			where 1 = 1
   			<if test="identifier != null and identifier != ''">
        		AND u.IDENTIFIER = #{identifier}
	    	</if>
	    	<if test="chunkNumber != null">
	        	AND u.CHUNK_NUMBER = #{chunkNumber}
	    	</if>
   </select>
</mapper>