<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzg.file.dao.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.zzg.file.domain.FileInfo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="filename" />
    <result column="IDENTIFIER" jdbcType="VARCHAR" property="identifier" />
    <result column="TOTAL_SIZE" jdbcType="DECIMAL" property="totalSize" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
  </resultMap>
</mapper>